Source: corevantage-x201
Section: utils
Priority: optional
Maintainer: Jason Goulet-Lipman <jason.gouletlipman@gmail.com>
Build-Depends: build-essential, cmake, qt5-default, qtdeclarative5-dev
Homepage: https://github.com/JaGoLi/corevantage

Package: corevantage-x201
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, qt5-default, nvramtool, hicolor-icon-theme
Description: Graphical user interface to configure coreboot settings for: ThinkPad X201
